
{{ define "main" }}
  <main>
      {{ .Content }}
          <ul class="contents">
          {{ template "section-tree-nav" $home }}
              <li>{{.Title}}
                  <div>
                    {{ partial "summary.html" . }}
                  </div>
              </li>
          {{ end }}
          </ul>
      {{ partial "pagination.html" . }}
  </main>
{{ end }}
