@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
    overflow-y: scroll
}

body{
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    font-family: 'Red Hat Text', sans-serif; 
    font-size: 1.2 em; 
    color:#444}

h1,h2,h3{
    line-height:1.2
}

@media (prefers-color-scheme: dark){
    body{
        color:white;
        background:#444; 
    }

    a:link{
        color:#5bf; 
    }
    a:visited{
        color:#ccf; 
    }
}

p > code{
    color: #FFFFFF; 
    background:#000000; 
    padding:2px; 
}

pre {
    color: #FFFFFF; 
    background:#000000; 
    padding:24px; 
    overflow-x: auto
}

article {
    padding:24px 0; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    

img {
    display: block; 
    max-width: 100%; 
    height: auto;
}

figcaption {
    color: #888; 
    font-family: 'Red Hat Text', sans-serif;  
    text-align: center;
}

figure {
    margin: auto
}
