{{ define "main" }}
	<main>
<!--		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }} --> 
		
		<h1>{{ .Site.Title }}</h1>
		
		<button>Explore by Topic</button>
		<button>Progress through lessons</button>
	</main>
{{ end }}
